# -- Wordpress ------------------------------
wp-admin/*
wp-content/plugins/*
wp-content/uploads/*
wp-includes/*
wp-config.php
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

!BUILD_DOC.MD
!composer.json
!composer.lock
!Jenkinsfile
!README.md

wp-content/languages/*
!wp-content/languages/themes/

# -- Theme ----------------------------------
node_modules

# -- Sistemas Operativos --------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.*
!.github/workflows
!.gitignore
.htaccess
*~

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
/vendor/